h1,dt{
    font-family: 'Times New Roman', Times, serif;
}
p,dd{
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    color: red;
    background-color: peachpuff;
}
button{
    color: green;
    background-color: plum;
    border: none;
    padding: 15px;
    font-size: small;
    margin: 10px;
    border-radius: 12px;
}
body{
    white-space: normal;
    margin-left: 10%;
    margin-right: 10%;
}
a:hover{
    color: green;
}
a:active{
    color: purple;
}
ul{ 
    list-style-image: url('thumbs.jpeg');
}
